<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.DepMapper">
    <resultMap id="dep" type="com.pojo.Dep">
        <id column="depid" property="depid"></id>
        <result column="depname" property="depname"></result>
    </resultMap>

    <select id="findall" resultMap="dep">
        select depid , depname from dep
    </select>

    <select id="findbyid" resultMap="dep">
        select  depid , depname from dep where depid = #{depid}
    </select>

    <select id="find" resultMap="dep">
        select  depid , depname from dep where depid = #{depid} and depname =#{depname}
    </select>

</mapper>


