<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.DepMapper">
    <insert id="add" parameterType="com.pojo.Dep">
        insert into dep(depid , depname) values(#{depid } , #{depname})
    </insert>

    <insert id="add2" parameterType="list">
        insert into dep(depid , depname) values
        <foreach collection="list" item="dep" separator="," >
            (#{dep.depid} , #{dep.depname})
        </foreach>
    </insert>

</mapper>



