<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pojo.Dep">

    <resultMap id="dep" type="com.pojo.Dep">
        <id property="depid" column="depid"></id>
        <result property="depname" column="depname"></result>
        <collection property="emps" column="depid" select="com.pojo.Emp.findbydid">
        </collection>
    </resultMap>

    <select id="findbyid" resultMap="dep">
        select depid , depname from dep where depid = #{depid}
    </select>


</mapper>



