<component name="ArtifactManager">
  <artifact type="war" name="mybatisplus:war">
    <output-path>$PROJECT_DIR$/mybatisplus/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>mybatisplus</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="mybatisplus.war">
      <element id="artifact" artifact-name="mybatisplus:war exploded" />
    </root>
  </artifact>
</component>